
h1{
    font-size: 40px;
    color: #999 !important   
}

p{
    color:red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4em;
}
footer p{
    color: brown;
    font-weight:blanchedalmond;
    font-size: 15px;
}
 section article:nth-of-type(1) p:nth-of-type(2){
     text-transform:capitalize; /*localiza o segundo parágrafo e coloca todasd palavras com primeira letra maíuscula*/
      color: #999;
 }
 section article:nth-of-type(1) ul li:last-child{
     color:brown;
     font-weight: bold;
 }
 /*Section article2 table tr (linha) td(coluna)*/
 section article:nth-of-type(2) table tr:nth-of-type(2) td:last-child{
     background-color: #000;
     color: #fff;
 }
 .estilo1{
     background-color: #999;
     color: #fff;
     text-align: center;
 }